<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longfish.mapper.UpdateMapper">

    <update id="update">
        update competition set cop_status = if(datediff(end_date, now()) &lt; 0, 3, if(datediff(start_date, now()) > 0, 1, 2))
    </update>
</mapper>